:root {
  --main-color: #f6a033;
  --main-color-50: #f6a23352;
  --secondary-color: #fbf4e7;
  --bg-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
}

.product-item {
    border: 1px solid var(--main-color);
    background-color: var(--bg-color);
    border-radius: 8px;
}

#Btn-add-product button {
    background-color: var(--main-color);
    color: white;
    font-weight: bold;
    border-radius: 4px;
}

.text-main-color {
    color: var(--main-color)    ;
}

.border-main-color {
    border: 2px solid var(--main-color);
}

.bg-main-color {
    background-color: var(--main-color);
}

.bg-main-color-50 {
    background-color: var(--main-color-50);
}
/* =========== Main control Panel ======== */

.Btn-category-select {
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
} 


.item-container .item-list:hover {
    border: 2px solid var(--main-color)
}

.item-container .item-list:hover .btn-edit-container {
    opacity: 1;
}

/* =========== InsertProduct ==========*/

#new-product-content label {
    font-weight: bold;
    font-size: 14px;
}

#new-product-content input, textarea {
    border-radius: 8px;
    border: 2px solid var(--main-color);
}

.product-table {
    max-height: 80vh;
}